@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap');

html {
    font-family: "Noto Sans KR", sans-serif;
}

:root {
    /* font-size */
    font-size: 62.5%;
    --title-size: 4rem;
    --sub-size: 2.4rem;
    --desc-size: 1.6rem;
    /* color */
    --font-color: #172321;
    --sub-color: #fff;
    --box-color: #88cdf6;
    --hover-color: #015c92;
    --skills-progessbar: linear-gradient(to right, #bce6ff 0%, #2d82b5 100%);
}

#skip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    background: #000;
    color: var(--primary-color);
    z-index: 9999;
    text-align: center;
}
#skip:focus
{
    transform: translateY(0);
}

/* ========================= 웹표준, 웹접근성 모달 ========================= */
#notice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    width: 500px;
    height: 500px;
    border-radius: .8rem;
    background: #fff;
    position: relative;
}
.notice-modal__close {
    position: absolute;
    right: .5rem;
    top: .2rem;
    font-size: 2rem;
    cursor: pointer;
}
.notice__title {
    margin: 1rem 0 1rem 0
}
.logo__html5 {
    width: 50px;
    margin-right: 1rem;
}
.logo__css3 {
    width: 36px;
}
.logo__js {
    width: 83px;
    margin-right: -1rem;
}
.logo__jquery {
    width: 100px;
}
.logo__github {
    width: 60px;
}

/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
i {
    font-style: normal;
}
img {
    max-width: 100%;
}
button {
    border: none;
}

/* common */
.inner {
    max-width: 1280px;
    margin: 0 auto;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    text-transform: uppercase;
    font-size: var(--title-size);
    color: var(--font-color);
    text-align: center;
    padding: 6rem;
}
i {
    font-weight: 300;
    font-size: var(--desc-size);
}
.button {
    display: block;
    text-align: center;
    background: var(--box-color);
    color: var(--sub-color);
    font-size: var(--desc-size);
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
}
.button:hover {
    background: var(--hover-color);
    color: var(--sub-color);
}

/* grid */
.l-grid-1-12 { width: 8.33333333%; }
.l-grid-2-12 { width: 16.66666667%; }
.l-grid-3-12 { width: 25%; }
.l-grid-4-12 { width: 33.33333333%; }
.l-grid-5-12 { width: 41.66666667%; }
.l-grid-6-12 { width: 50%; }
.l-grid-7-12 { width: 58.33333333%; }
.l-grid-8-12 { width: 66.66666667%; }
.l-grid-9-12 { width: 75%; }
.l-grid-10-12 { width: 83.33333333%; }
.l-grid-11-12 { width: 91.66666667%; }
.l-grid-12-12 { width: 100%;}

@media (max-width: 768px) {
    .l-col-tablet-1-12 { width: 8.33333333%; }
    .l-col-tablet-2-12 { width: 16.66666667%; }
    .l-col-tablet-3-12 { width: 25%; }
    .l-col-tablet-4-12 { width: 33.33333333%; }
    .l-col-tablet-5-12 { width: 41.66666667%; }
    .l-col-tablet-6-12 { width: 50%; }
    .l-col-tablet-7-12 { width: 58.33333333%; }
    .l-col-tablet-8-12 { width: 66.66666667%; }
    .l-col-tablet-9-12 { width: 75%; }
    .l-col-tablet-10-12 { width: 83.33333333%; }
    .l-col-tablet-11-12 { width: 91.66666667%; }
    .l-col-tablet-12-12 { width: 100%;}
}

@media (max-width: 480px) {
    .l-col-mobile-1-12 { width: 8.33333333%; }
    .l-col-mobile-2-12 { width: 16.66666667%; }
    .l-col-mobile-3-12 { width: 25%; }
    .l-col-mobile-4-12 { width: 33.33333333%; }
    .l-col-mobile-5-12 { width: 41.66666667%; }
    .l-col-mobile-6-12 { width: 50%; }
    .l-col-mobile-7-12 { width: 58.33333333%; }
    .l-col-mobile-8-12 { width: 66.66666667%; }
    .l-col-mobile-9-12 { width: 75%; }
    .l-col-mobile-10-12 { width: 83.33333333%; }
    .l-col-mobile-11-12 { width: 91.66666667%; }
    .l-col-mobile-12-12 { width: 100%;}
}

/* header */
header {
    height: 300vh;
    background: url(../img/intro_bg.jpg) no-repeat center/cover;    
}
.leftTitle {
    position: fixed;
    top: 1rem;
    left: 2.5rem;
    font-size: var(--sub-size);
    color: var(--sub-color);
}
.rightTitle {
    position: fixed;
    top: 1rem;
    right: 2.5rem;
    font-size: var(--sub-size);
    color: var(--sub-color);
}
.greeting {
    position: fixed;
    font-size: 46px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    padding: 1.5rem;
    border: 10px solid #fff;
    color: var(--sub-color);
}

/* menu */
nav {
    background: #016280;
}
.menu__container {
    width: 100%;
    line-height: 100px;
}
.menu {
    color: var(--sub-color);
    text-align: center;
}
.munu__item {
    display: inline-block;
    text-align: right;
    font-size: var(--sub-size);
    font-weight: bold;
    position: relative;
}
.munu__item a {
    margin: 2rem;
}
.munu__item a:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 25%;
    background: var(--sub-color);
    width: 2px;
    height: 5px;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
}
.menu .munu__item a:hover:after {
    width: 100%;
    transform: translateX(-50%);
    opacity: 1;
}

/* skills */
.skills {
    width: 100%;
    height: 100vh;
    background: url(../img/section_bg.jpg) no-repeat center/cover;
    opacity: .8;
}
.tab {
    margin-top: 1rem;
    display: inline-block;
    color: var(--font-color);
    overflow: hidden;
}
.tab__menu {
    display: flex;
    font-size: var(--sub-size);
    overflow: hidden;    
    flex: 1;
}
.tab__menu button {
    text-transform: uppercase;
    font-size: var(--sub-size);
    color: var(--hover-color);
    background: var(--sub-color);
    text-align: center;
    padding: 1.5rem;
    width: 160px;
    font-weight: bold;
    cursor: pointer;
}
.tab__menu i {
    margin-right: .5rem;
}
.tab__menu button.selected {
    background: var(--hover-color);
    color: var(--sub-color);
}
.tab__content {
    margin-top: -3.3rem;
    flex: 9;
    width: 100%;
    background: var(--sub-color);
    color: var(--font-color);
    font-size: var(--sub-size);
}
.tab__desc {
    color: var(--font-color);
    padding: 5rem;
    margin: 3rem 0;
}
.field {
    width: 150px;
    text-align: center;
    margin: 1rem 0;
}
.field, .explanation {
    display: inline-block;
}
.skill__bar {
    height: 30px;
    background: var(--skills-progessbar);
    float: left;
}
.progress__bar {
    width: 1180px;
    height: 30px;
    /* border: 1px solid var(--hover-color); */
}
.skill__bar p {
    float: right;
}
.explanation, .percent {
    font-size: var(--desc-size);
    color: var(--title-color);
    padding: 0 0.5rem;
}
.percent {
    line-height: 30px;
    margin-right: -50px;
    margin-top: -30px;
}
.html, .photoshop {
    width: 90%;
}
.css, .illustrator, .git {
    width: 80%;
}
.javascript {
    width: 60%;
}

/* web */
.web {
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
}
.slider__content {

    display: flex;
}
.slider__img {
    margin-left: 6rem;
}
.slider__img img {
    height: 470px;
    width: 620px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.slider__desc {
    background: rgba(224, 224, 224, 0.212);
    width: 535px;
    font-size: var(--sub-size);
    color: var(--font-color);
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}
.slider__desc p {
    height: 10px;
    line-height: 5;
}
.slider__desc p:last-of-type {
    margin-bottom: 10rem;
}
.button__container {
    display: flex;
}
.button__container a, .button__container button {
    width: 100px;
    font-weight: 200;
}
.button__container button {
    background: var(--box-color);
    color: var(--sub-color);
    border-radius: 10px;
    margin-right: 1rem;
    cursor: pointer;
}
.button__container button:hover {
    background: var(--hover-color);
}
.button__container a {
    margin-right: 1.2rem;
}
.slider__desc p {
    margin: 1rem 0;
}
.slick-prev,.slick-next {
    background: none;
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 0;
    cursor: pointer;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-prev:after,
.slick-next:after{
    font-size: var(--title-size);
    color: var(--font-color);
    font-weight: bold;
}
.slick-prev:after, .slick-next:after{
    font-family: unicons-line;
}
.slick-prev:after {
    content: '\ec49';
}
.slick-next:after {
    content: '\eb9f';
}
.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.slick-dots li.slick-active button {
    background: var(--hover-color);
}
.slick-dots li {
    margin-right: 2.5rem;
}
.slick-dots li button {
    display: none;
    background: var(--box-color);
    margin-top: 4rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,s 0, 0.5);
    z-index: 100;
  }
  .modal {
    width: 50%;
    background: var(--sub-color);
    /* padding: 1rem; */
    border-radius: 0.5rem;
    border: 1px solid var(--font-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: initial;
    text-align: center;
    height: 800px;
  }
  .close__modal {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: var(--desc-size);
    background: var(--sub-color);
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 50%;
    border: 1px solid var(--font-color);
    color: var(--font-color);
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .modal__content {
    height: 80vh;
    overflow-y: auto;
  }

/* design */
.design {
    margin-bottom: 10rem
}
.design h1 {
    margin: 0;
}
.design p {
    text-align: center;
}
.slick__container {
    max-width: 1280px;
    margin: 0 auto;
}
.item {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    margin: 2rem 0;
}
.container {
    cursor: pointer;
    float: left;
    text-align: center;
    display: block;
}
.container img {
    display: block;
    vertical-align: top;
    width: 300px;
    height: 250px;
    margin: 0 6rem;
    /* border-radius: 5px; */
}
.container button {
    border: 1px solid #000;
    background: var(--sub-color);
    cursor: pointer;
    display: block;
    text-align: center;
    width: 300px;
    height: 50px;
    line-height: 5px;
    margin-left: 6rem;
}
.container button:hover {
    background: #F0F0F0;
    color: var(--title-color);
    opacity: .2;
}
.container p {
    padding: 1.5rem;
    font-size: var(--desc-size);
    text-transform: uppercase;
    height: 30px;
    text-align: center;
}

/* footer */
footer {
    background: url(../img/footer_bg.jpg) no-repeat center/cover;
    width: 100%;
    /* width: 1080px; */
    margin: 0 auto;
    height: 80vh;
    text-align: center;
    line-height: 2;
    /* background: var(--section-bg); */
    color: var(--font-color);
}

.profile_desc, .profile_desc h1 {
    color: var(--sub-color);
    width: 600px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.profile_desc i {
    font-size: var(--title-size);
    position: absolute;
    bottom: 30%;
    margin-left: -10.5rem;
}
.info__container {
    border: 1px solid #333;
    background: #f1f1f12c;
    box-shadow: 10px 10px 5px rgba(204, 204, 204, 0.281);
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
    height: 200px;
}
.info {
    padding: 5.5rem 0;
}
.number, .mail, .resume {
    width: 240px;
    margin: 0 auto;
}
.number, .mail {
    margin-bottom: 1.2rem;
}
footer p {
    color: #51616A;
}
footer p:first-of-type {
    font-size: var(--sub-size);
    margin-top: 8rem;
    font-weight: 500;
}
footer p:last-child {
    font-size: 16px
}
