@charset "utf-8";

:root {
    /* font-size */
    font-size: 62.5%;
    --title-size: 3rem;
    --sub-size: 2.4rem;
    --desc-size: 1.6rem;

    /* color */

}

/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
i {
    font-style: normal;
}
img {
    max-width: 100%;
}

.inner {
    width: 1080px;
    margin: 0 auto;
}

/* header */
header {
    background: #fcb6d0;
    height: 100px;
}
.menu__container {
    width: 100%;
    line-height: 100px;
    /* position: fixed; */
}
.menu {
    display: flex;
    flex-direction: row-reverse;
    width: 1080px;
    margin: 0 auto;
}
.munu__item {
    font-size: var(--sub-size);
    position: relative;
}
.munu__item a {
    padding: 1rem;
    color: #f650a0;
}
.munu__item a:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 25%;
    background: #ffdee1;
    width: 2px;
    height: 5px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .5s;
}
.menu .munu__item a:hover:after {
    width: 100%;
    transform: translateX(-50%);
    opacity: 1;
}

/* skills */
.about {
    height: 100vh
}
.about__left {
    float: left;
}
.resume {
    text-align: center;
    background: #ff9897;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: var(--desc-size);
}
.about__desc {
    float: right;
    width: 50%;
}